.list-cards {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  max-height: 100vh;
  width: 100%;
}

.card-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  padding: 10px;
  border-radius: 5px;
  font-size: 12px;
  margin: 5px;
  min-height: 25vh;
  min-width: 15vh;
  background-color: #f1f1f1;
  border: 2px solid lightgrey;
  transition: all 0.2s;
}

.card-item:hover {
  background-color: #e9ecf1;
  cursor: pointer;
}

.button-logout {
  width: 50%;
  padding: 0.6rem;
  border: none;
  border-radius: 0.25rem;
  background-color: #4caf50;
  color: #fff;
  cursor: pointer;
}

.header-home {
  display: flex;
  align-items: center;
  padding: 5px 15px;
  justify-content: space-between;
  background-color: #f1f1f1;
  border-bottom: 2px solid #dddcdc;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.favorites {
  margin-top: 10px;
  border: 2px solid lightgrey;
}

.title {
  min-width: 20vw;
  max-width: 50vw;
}

.header-home h1 {
  color: rgb(80, 73, 73);
}

.container-logout {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  min-width: 20vw;
  max-width: 50vw;
}

.label-add {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(82, 81, 81);
  /* border: 1px solid; */
  font-weight: bold;
}

.container-home {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
